{% extends 'sel_templates/master.html' %}

{% load static %}
{% block content %}
<div id="container">
    <div class="containermy">
        <h1 class="myorders">ORDER HISTORY</h1>
    </div> 
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">slno.</th>
                    <th scope="col">Product Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Delivered on</th>
                    <th scope="col">Customer Name</th>

                </tr>

            </thead>
        </table>
        nkbcsjc <br>
        vvs
        dc
        <br><br><br><br><br>
    </div>
</div>


{% endblock %}