{% extends 'ad_templates/master.html' %}

{% load static %}
{% block content %}

<style>
.divc{
    height: 640px;
    padding: 50px;
    background-color: rgb(94, 19, 94);
}
.text{
    margin-left: 50px;
    text-align: center;
    color: aliceblue;
}
btn{
    background-color: #555555;
}
</style>
<form action="" method="POST">
    {% csrf_token %}
    <div class="divc">

        <div class="text">
            <h1>ADD TYPE</h1>
        </div>
        <div class="maindiv">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="category">
                <option  selected>select category</option>
                {% for type in type_dt %}
                <option  value="{{type.id}}">{{type.Category_name}}</option>
              
                {% endfor %}
               
                 </select>
                
        </div>
        <br>
        <div>
            <input type="text" name="type" placeholder="type name">
        </div>

<br>

        <div class="d-flex justify-content-center">

            <input type="submit" class="btn-block btn-lg gradient-custom-4 text-body" value="ADD" id="btn">
        </div>
    </div>
</form>

{% endblock %}