{% extends 'ad_templates/master.html' %}

{% load static %}
{% block content %}
<style>
    img {
        width: 100px;
        height: 100px;
    }
</style>
<div>
    <div class="containermy">
<h1 class="myorders">RECENT ORDERS</h1>
    </div>
</div>
<div class="content">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Slno.</th>
                <th scope="col">Product Image</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Customer Address</th>
                
            </tr>
            {% for Mycart in orders %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>
                        <div class="prod_img">
                            <img src="{{Mycart.productid.p_image.url}}" alt="">
                    </td>

                    <td>
                        {{Mycart.productid.p_name}}
                    </td>
                    <td>
                        {{Mycart.quantity}}
                    </td>

                    <td>
                        {{Mycart.customer.name}}
                    </td>
                    <td>
                        {{Mycart.customer.address}}
                    </td>
                </tr>
                {% endfor %}


        </thead>
    </table>
</div>



{% endblock %}