{% extends 'home_templates/master.html' %}

{% load static %}
{% block content %}

{% endblock %}
<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alljewellery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <style>
         ul{
            list-style: outside none none;
            margin: 0;
            padding: 0;
        }
    </style>

</head>
<body>
    <div class="maindiv">
        <div class="tablediv">

            <table width="100%">
                <tr>
                    <td align="left">
                        <img class="tanishqimg" src="{% static 'images/Tanishq.jpg' %}" ,width="5px" ,height="5px">
                    </td>
                    <td colspan="3" align="center">
                        <div class="search">
                            <input type="text" id="fname" name="firstname" placeholder="Search....">
                        </div>
                    </td>
                    <td><a href="{% url 'home:login' %}">Login</a></td>
                 
                </tr>
            </table>


            <div class="items">
                <table id="itemslabel" width="100%px">

                    <tr>
                        <td>
                            <a href="{% url 'home:homepage' %}"> <label id="alllabel">ALL JEWELLERY</label></a>

                        </td>
                        <td>

                            <a href="{% url 'home:earrings' %}"><label id="alllabel">EARRINGS</label></a>
                        </td>
                        <td>
                            <a href="{% url 'home:rings' %}"><label id="alllabel">RINGS</label></a>
                        </td>
                        <td>
                            <a href="{% url 'home:necklaces' %}"><label id="alllabel">NECKLACES</label></a>
                        </td>
                        <td>
                            <a href="#"><label id="alllabel">GOLD</label></a>
                        </td>
                        <td>
                            <a href="#"> <label id="alllabel">DIAMOND</label></a>
                        </td>
                        <td>
                            <a href="#"><label id="alllabel">MIA</label></a>
                        </td>
                        <td>
                            <a href="#"><label id="alllabel">COLLECTIONS</label></a>
                        </td>

                    </tr>
                </table>

            </div>
        </div>

            </div>

        </div>

</body>
</html> -->