{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/cus_registration.css' %}">

</head>

<body>
    <!-- <div class="container-fluid">
        <div class="row text-center">
            <div class="col-10 offset-1">
              <h1>CUSTOMER REGISTRATION</h1>
    


            </div>
        </div>
    </div> -->
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="containerdiv"> 
            <section class="vh-100 bg-image"
                style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
                <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                    <div class="container h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                                <div class="card" style="border-radius: 15px;">
                                   
                                    <div class="card-body p-5">
                                       
                                        <h1 class="text-uppercase text-center mb-5" id="create">Create an account</h1>
                                        <div class="input_div">
                                        Upload photo <input type="file" name="c_img" id=""> <br>
                                        </div>

                                        <div class="input_div">
                                            <input type="text" id="form3Example1cg" class="form-control form-control-lg"  placeholder="Enter Your Name" name="name"required/>
                                            <br>
                                        </div>
                                        <div class="input_div">
                                            <label for="">Gender</label>
                                            <input type="radio" name="c_gender" value="female"required>Female
                                            <input type="radio" name="c_gender" value="male"required>Male</td>
                                            <br>
                                            <br>

                                        </div>

                                        <div class="input_div">
                                            <input type="number" id="form3Example3cg"
                                                class="form-control form-control-lg" placeholder="Phone number"name="phone" required/>
                                            <br>
                                        </div>

                                        <div class="input_div">
                                            <input type="email" id="form3Example3cg"
                                                class="form-control form-control-lg" placeholder="Your Email" name="email"required/>
                                            <br>

                                        </div>


                                        <div class="input_div">
                                            <textarea type="text" id="form3Example4cdg"
                                                class="form-control form-control-lg" placeholder="Address"name="address"required></textarea>
                                            <br>

                                        </div>

                                        <div class="input_div">
                                            <input type="password" id="form3Example4cg"
                                                class="form-control form-control-lg" placeholder="Password"  name="password"required/>
                                            <br>
                                        </div>

                                        <div class="input_div">
                                            <input type="password" id="form3Example4cdg"
                                                class="form-control form-control-lg"
                                                placeholder="Repeat your password" name="repassword"required />
                                            <br>

                                        </div>

                                        <div class="form-check d-flex justify-content-center mb-5">
                                            <input class="form-check-input me-2" type="checkbox" value=""
                                                id="form2Example3cg" />
                                            <label class="form-check-label" for="form2Example3g">
                                                I agree all statements in <a href="#!" class="text-body"><u>Terms of
                                                        service</u></a>
                                            </label>
                                        </div>

                                        <div class="d-flex justify-content-center">
                                            <button type="button"
                                                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                                                <br>
                                        </div>

                                        <p class="already">Have already an account? <a href="#!" class="fw-bold text-body"><u>Login here</u></a>
                                        </p>

                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</body>

</html>