{% load static %}
<style>
    .footerdiv {
        padding: 5%;
        /* height: 80px; */

    }

    .footerdiv {
        background-color: rgb(175, 183, 254);
    }

    .ff {
        color: rgb(134, 10, 86);
    }
</style>
<footer>
    <div>
        <div>
<br>
<br><br>
            <div class="footerdiv">
                <table class="footertlb">

                    <tr>
                        <td>
                            <div>
                                <h2><b>Useful Links</b></h2>
                            </div>
                        </td>
                        <td>
                            <div>
                                <h2><b>Information</b></h2>
                            </div>
                        </td>
                        <td>
                            <div>
                                <h2><b>Contact Us</b></h2>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#">
                                <div class="ff">
                                    <h5><b>Delivery Information</b></h5>
                                </div>
                            </a></td>
                        <td><a href="#">
                                <div class="ff">
                                    <h5><b>Careers</b></h5>
                                </div>
                            </a></td>
                        <td><a href="#">
                                <div class="ff">
                                    <h5><b>Write to Us</b></h5>
                                </div>
                            </a></td>
                    </tr>
                    <tr>
                        <td><a href="#">
                                <div class="ff">
                                    <h5><b>International Shipping</b></h5>
                                </div>
                            </a></td>
                        <td><a href="">
                                <div class="ff">
                                    <h5><b>Blog</b></h5>
                                </div>
                            </a></td>
                        <td><a href="">
                                <div class="ff">
                                    <h5><b>1800-123-1234</b></h5>
                                </div>
                            </a></td>
                    </tr>
                    <tr>
                        <td><a href="#">
                                <div class="ff">
                                    <h5><b>Payment Options</b></h5>
                                </div>
                            </a></td>
                        <td><a href="#">
                                <div class="ff">
                                    <h5><b>Offers & Contest Details</b></h5>
                                </div>
                            </a></td>
                        <td><a href="#">
                                <div class="ff">
                                    <h5><b>Chat with Us</b></h5>
                                </div>
                            </a></td>
                    </tr>
                    <tr>
                        <td><a href="#">
                                <div class="ff">
                                    <h5><b>Track Your Order</b></h5>
                                </div>
                            </a></td>
                        <td><a href="#">
                                <div class="ff">
                                    <h5><b>Help & FAQS</b></h5>
                                </div>
                            </a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="#">
                                <div class="ff">
                                    <h5><b>Returns</b></h5>
                                </div>
                            </a></td>
                        <td><a href="#">
                                <div class="ff">
                                    <h5><b>About Tanishq</b></h5>
                                </div>
                            </a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><a href="#">
                                <div class="ff">
                                    <h5><b>Find a Store</b></h5>
                                </div>
                            </a></td>
                       
                    </tr>
                </table>
            </div>
        </div>
    </div>
</footer>