{% load static %}
<footer>
    <div class="footerdiv">
        <table class="footertlb">
            <tr>
                <td>
                    Useful Links
                </td>
                <td>
                    Information
                </td>
                <td>Contact Us</td>
            </tr>
            <tr>
                <td><a href="#">Delivery Information</a></td>
                <td><a href="#">Careers</a></td>
                <td><a href="#"> Write to Us</a></td>
            </tr>
            <tr>
                <td><a href="#">International Shipping</a></td>
                <td><a href="">Blog</a></td>
                <td><a href="">1800-123-1234</a></td>
            </tr>
            <tr>
                <td><a href="#">Payment Options</a></td>
                <td><a href="#">Offers & Contest Details</a></td>
                <td><a href="#">Chat with Us</a></td>
            </tr>
            <tr>
                <td><a href="#">Track Your Order</a></td>
                <td><a href="#">Help & FAQS</a></td>
                <td></td>
            </tr>
            <tr>
                <td><a href="#">Returns</a></td>
                <td><a href="#">About Tanishq</a></td>
                <td></td>
            </tr>
            <tr>
                <td><a href="#">Find a Store</a></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</footer>