{% extends 'cus_templates/master.html' %}

{% load static %}
{% block content %}
<style>
    .immwidth {
        /* margin-left: 1px; */
        margin-right: 25px;
    }

    .tabb {
        padding: 20px;
        margin-left: 35px;

    }

    #crd {
        margin-left: 500px;
    }

    tr {
        padding: 15px;
    }

    .containerdiv {
        width: 1465px;
        height: 600px;
        background-color: rgb(53, 7, 74);
    }

    #edit {
        margin-left: 150px;
    }
    .img-circle{
        margin-left: 50px;
    }

    /* .img{
         background-image: url('static/image/ele.jpg');
    } */
</style>
<!-- <link rel="stylesheet" href="{% static 'css/account.css' %}"> -->

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="containerdiv">
        <br><br>
        <!-- <div class="col-sm-4 col-md-9 col-lg-7 col-xl-6"> -->
        <div class="card p-4" id="crd">
            <br>
            <div class="immwidth">

                <img src="{{data.image.url}}" class="img-circle" width="250" height="260" />
                <br><br><br>
            </div>

            <div class="tabb">
                <table>
                    <tr>
                        <td>
                            <b> Name</b>
                        </td>
                        <td>
                            :
                        </td>
                        <td>
                            {{data.name}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Gender</b>
                        </td>
                        <td>
                            :
                        </td>
                        <td>
                            {{data.gender}}
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <b>Phone number</b>
                        </td>
                        <td>
                            :
                        </td>
                        <td>
                            {{data.phone_no}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Adress</b>
                        </td>
                        <td>
                            :
                        </td>
                        <td>
                            {{data.address}}
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <b>Email</b>
                        </td>
                        <td>
                            :
                        </td>
                        <td>
                            {{data.e_mail}}
                        </td>
                    </tr>


                </table>
            </div>



            <div class=" d-flex mt-2" id="edit">
                <a href="{% url 'customer:editprofile' %}"><input type="button" value="Edit Profile"></button></a>
            </div><br>


        </div>
        <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i
                    class="fa fa-twitter"></i></span>
            <span><i class="fa fa-facebook-f"></i></span> <span><i class="fa fa-instagram"></i></span>
            <span><i class="fa fa-linkedin"></i></span>
        </div>

       
        <!-- </div> -->
    </div>


</form>





{% endblock %}