{% extends 'cus_templates/master.html' %}

{% load static %}
{% block content %}


<!-- <div class="content">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">slno.</th>
                <th scope="col">Product Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
            </tr>

        </thead>
    </table>
</div>
 -->

<style>
    .table {
        border: 2px solid rgb(175, 164, 164);
        border-radius: 10%;
    }

    .content {
        padding: 50px;
    }

    img {
        width: 100px;
        height: 100px;
    }

    .rmbtn {
        background-color: red;
        padding: 2%;
        display: block;
        text-align: center;
        color: white !important;
    }
</style>
</head>

<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="header">
            <h1 class="cart">CART</h1>
        </div>
        <div class="content">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">slno.</th>
                        <th scope="col">Product Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Mycart in data %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>
                            <div class="prod_img">
                                <img src="{{Mycart.product.p_image.url}}" alt="">
                            </div>
                        </td>
        </div>
        <td>
            {{Mycart.product.p_name}}
        </td>
        <td>₹{{Mycart.product.p_price}}
            <input type="number" name="" value="{{product.product.price}}" id="price_{{product.product.id}}" hidden>

        </td>
        <td>
            <!-- <input type="number" min="1" value="{{ product.qty }}" class="update-qty" max=""
        data-item="{{ product.product.id }}" id="qty_{{product.product.id}}">
      <span id="out_{{product.product.id}}"></span> -->
            {{Mycart.quantity}}
        </td>
        <td>
            <span id="total_{{product.product.id}}"> {{Mycart.total}}</span>

        </td>
        <td>

            <a class="rmbtn" href="{% url 'customer:delete_item' Mycart.id %}">Remove</a>


        </td>




        </tr>

        <!-- {{grandtotal}} -->
        {% endfor %}
        <tr>
            <td> <span id="grandtotal">{{grandtotal}}</span></td>
        </tr>
        <tr>
            <td>
                <a><button type="button" id="rzp_buynow">Buy now</button></a>

            </td>
            <!-- <td>
        <a href="{% url 'customer:cart' %}"><button>Cancel</button></a>

    </td> -->
        </tr>
        </tbody>
        </table>
        </div>


    </form>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()  //passing csrf token in ajax request
                }
            })

            $('#rzp_buynow').click(function () {
                // console.log("inside funtion")
                grandtotal = $("#grandtotal").html()
                console.log(grandtotal)
                $.ajax({
                    url: '{% url "customer:order_product" %}',
                    type: 'POST',
                    data: {
                        'totalprice': grandtotal
                    },
                    success: function (response) {
                        console.log("payment_id=" + response.id);
                        var options = {
                            "key": "rzp_test_eAalpDoJ4ZVc3e",
                            "grandtotal": response.grandtotal,
                            "currency": "INR",
                            "name": "Tanishq",
                            // "image":
                            "id": "1234",
                            "order_id": response.id,
                            "handler": function (response) {
                                console.log("pid", response.razorpay_payment_id);
                                console.log("oid", response.razorpay_order_id);
                                console.log("sig", response.razorpay_signature)
                                // updatepayment(response)
                                payment_id = response.razorpay_payment_id
                                order_id = response.razorpay_order_id
                                sign_id = response.razorpay_signature
                                updatepayment(payment_id, order_id, sign_id, response.grandtotal)
                            },
                            redirect: true,
                            "theme": {
                                "color": "#3399cc"
                            }

                        };
                        var rzpl = new Razorpay(options);
                        rzpl.on('payment.failed', function (response) {
                            alert(response.error.code);
                            alert(response.error.description);
                            alert(response.error.source);
                            alert(response.error.step);
                            alert(response.error.reason);
                            alert(response.error.metadata.payment_id);
                        });
                        rzpl.open();

                    }

                })

            })


            function updatepayment(pid, oid, sigid, grandtotal) {
                console.log('res,pid,oid,sigid')
                // console.log( "pidp",res.razorpay_payment_id);
                //                 console.log("oidp",res.razorpay_order_id);
                //                 console.log("sigp", res.razorpay_signature)
                $.ajax({
                    url: '{% url "customer:updatepayment" %}',

                    type: 'POST',
                    data: {
                        'grandtotal': grandtotal,
                        'pid': pid,
                        'oid': oid,
                        'sig': sigid
                    },
                    success: function (response) {
                        alert("Your order placed successfully")
                        window.location.reload();
                    }
                })
            }

        });

    </script>



    {% endblock %}