{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TANISHQ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- <link rel="stylesheet" href="{% static 'css/earrings.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/masters.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/change_pass.css' %}">
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">

    <style>
           input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}


input[type=text]:focus {
  width: 100%;
}
 .dropbtn {
            background-color: rgb(37, 17, 92);
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        
        .tb22div {
            background-color: rgb(37, 17, 92);
            padding-left: 75px;
        }

        table {
            border-spacing: 40px;
        }

        #mia {
            color: aliceblue;
        }
    </style>

</head>

<body>
    <header>


        <div class="maindiv">
            <div class="tablediv">

                <table width="100%">
                    <tr>
                        <td align="left">
                            <img class="tanishqimg" src="{% static 'images/Tanishq.jpg' %}" ,width="1px" ,height="1px">
                        </td>
                        <td colspan="2" align="center">
                            <input type="text" name="search" placeholder="Search..">
                  
                        </td>
                        <td><a href="{% url 'customer:home' %}"><label id="mlabel">Home</label></a></td>
                        <td><a href="{% url 'customer:account' %}"><label id="mlabel">Account</label></a></td>
                        <td><a href="{% url 'customer:cart' %}"><label id="mlabel">Cart</label></a></td>
                        
                        <td><a href="{% url 'customer:orders' %}"><label id="mlabel">Orders</label></a></td>
                        <td><a href="{% url 'customer:change_pass' %}"><label id="mlabel">Change password</label></a></td>
                        <td><a href="{% url 'home:homepage' %}"><label id="mlabel">Logout</label></a></td>
                       
                       
                    </tr>
                </table>
            </div>
            
            <div class="tb2div">
                <div class="tb22div">
                    <table width="100%">
                        <tr>
                            <td>

                                <div class="dropdown">
                                    <a href="{% url 'customer:list_products' %}?items=all" id="mia"> <button class="dropbtn">ALL
                                            JEWELLERY</a></button>

                                </div>

                            </td>

                            <td>
                                <div class="dropdown">
                                    <a href="" id="mia"> <button
                                            class="dropbtn">EARRINGS</a></button>
                                    <div class="dropdown-content">
                                        <table>
                                            <tr>
                                                <td>


                                                   <b>STYLE</b> 

                                                    <a href="{% url 'customer:list_products' %}?category=Earrings">All earrings</a>
                                                    <a href="{% url 'customer:list_products' %}?style=Jhumkas">Jhumkas</a>
                                                    <a href="{% url 'customer:list_products' %}?style=Hoops and Huggies">Hoops & huggies</a>
                                                    <a href="{% url 'customer:list_products' %}?style=Stud">Stud</a>

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="dropdown">
                                    <a href="" id="mia"> <button
                                            class="dropbtn">NECKLACES</a></button>

                                    <div class="dropdown-content">
                                        <b>STYLE</b>
                                        <a href="{% url 'customer:list_products' %}?style=Mangalsutra">Mangalsutra</a>
                                        <a href="{% url 'customer:list_products' %}?style=Bib">Bib</a>
                                        <a href="{% url 'customer:list_products' %}?style=Traditional">Traditional</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a href="" id="mia"> <button
                                            class="dropbtn">MIA</a></button>

                                </div>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <a href=" " id="mia">
                                        <button class="dropbtn">GOLD</a></button>
                                    <div class="dropdown-content">
                                        <table>
                                            <tr>
                                                <td>
                                                    <a href="#"><b>CATEGORY</b></a>
                                                    <a href="{% url 'customer:list_products' %}?type=Gold&category=Earrings"> Earrings</a>
                                                    <a href="{% url 'customer:list_products' %}?type=Gold&category=Necklaces"> Necklace </a>
                                                    <a href="#"></a>
                                                </td>
                                                <td>
                                                    <a href="#"><b>EARRINGS</b></a>
                                                    <a href="{% url 'customer:list_products' %}?type=Gold&style=Jhumkas">Jhumkas</a>
                                                    <a href="{% url 'customer:list_products' %}?type=Gold&style=Hoops and Huggies">Hoops & huggies</a>
                                                    <a href="{% url 'customer:list_products' %}?style=Stud">Stud</a>


                                                </td>
                                                <td>
                                                    <a href="#"><b>NECKLACE</b></a>
                                                    <a href="{% url 'customer:list_products' %}?type=Gold&style=Mangalsutra">Mangalsutra</a>
                                                    <a href="{% url 'customer:list_products' %}?type=Gold&style=Bib">Bib</a>
                                                    <a href="{% url 'customer:list_products' %}?type=Gold&style=Traditional">Traditional</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </td>
                            <td>
                                <div class="dropdown">
                                    <a href="" id="mia"><button
                                            class="dropbtn">DIAMOND</a></button>

                                    <div class="dropdown-content">
                                        <table>
                                            <tr>
                                                <td>
                                                    <label for=""><a href="#"><b>CATEGORY</b></a></label>
                                                    <a href="{% url 'customer:list_products' %}?type=Diamond&category=Earrings"> Earrings</a>
                                                    <a href="{% url 'customer:list_products' %}?type=Diamond&category=Necklaces"> Necklace </a>
                                                </td>

                                            </tr>
                                        </table>
                                    </div>
                                </div>

                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="dropbtn">COLLECTIONS</a></button>

                                    <div class="dropdown-content">
                                        <table>
                                            <tr>
                                                <td>
                                                    <a href="#"><b>STYLE</b></a>
                                                    <a href="{% url 'customer:list_products' %}?style=Mangalsutra">Mangalsutra</a>
                                                    <a href="{% url 'customer:list_products' %}?style=Bib">Bib</a>
                                                    <a href="{% url 'customer:list_products' %}?style=Traditional">Traditional</a>
                                                    <a href="{% url 'customer:list_products' %}?style=Jhumkas">Jhumkas</a>
                                                    <a href="{% url 'customer:list_products' %}?style=Hoops and Huggies">Hoops & huggies</a>
                                                    <a href="{% url 'customer:list_products' %}?style=Stud">Stud</a>

                                                </td>
                                                <td>
                                                    <a href="#"><b>CATEGORY</b></a>
                                                    <a href="{% url 'customer:list_products' %}?category=Earrings"> Earrings</a>
                                                    <a href="{% url 'customer:list_products' %}?category=Necklaces"> Necklace </a>
                                                    <a href="#"></a>
                                                    <a href="#"></a>
                                                    <a href="#"></a>
                                                    <a href="#"></a>
                                                    <a href="#"></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>


        </div>

    </header>


    {% block content %}

    {% endblock %}





</body>

</html>