{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
   

     .maindiv {
            width: 100%;
            height: auto;
        }

    #btn:hover {
        background-color: rgb(5, 5, 69);
        color: aliceblue;

    }

    .container {
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: auto auto auto;
        grid-gap: 80px;
    }

    .container div {
        padding: 10px;
    }

    .nec_types {
        background: #e0f2f1;
        width: 350px;
        height: 350px;

    }

    div.nec_types:hover {
        border: 1px solid #777;
    }

    div.nec_types {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
        border-left: 20px;
        border-right: 20px;
        border-top: 40px;
        border-bottom: 20px;
    }

    .imgwidth {
        width: 180px;
        height: 180px;
    }


    div.desc {
        padding: 15px;
        text-align: center;
    }

    #tlbcontainer {
        align-content: center;
        width: 100%;
        padding: 20px;
    }

    .containerclass {
        padding: 40px;

    }
</style>



<div class="product">
    {% for product in prod_data %}

    <div class="card" style="width: 18rem;">
        <img src="{{product.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product_details.product_name}}</h5>
            <p class="card-text">{{product.Product_price}}</p>
            <p class="card-text">{{product.description}}</p>
            <!-- <input type="button" value="buy now">
            <a href="{% url 'customer:product_detail' product.id %}"></a> -->

            <a href="{% url 'customer:product_detail' product.id %}" class="btn btn-primary"><input
                    type="button" value="view product"></a>
            <!-- <input type="button" value="update stock"> -->
            <!-- <a href="{% url 'seller:update_stock' %}" class="btn btn-primary"> <input type="button"
                    value="Update Stock"></a> -->
        </div>
    </div>

    {% endfor %}
</div>

<body>
    <div class="maindiv">
        <div class="containerclass">
            <section class="container">
                <table id="tlbcontainer">
                    <tr>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck1.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck2.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>

                                </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck3.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck4.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck4.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck4.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <!-- <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck5.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck6.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck7.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck8.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck9.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck10.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck11.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck12.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck13.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck14.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck15.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck16.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck17.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck18.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck19.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck20.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck21.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck22.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck23.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck24.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck25.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck26.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck27.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck28.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck29.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="nec_types">
                                <img class="imgwidth" src="{% static 'images/neck31.jpg' %}">
                                <div class="desc">Diamond earrings RS:52145 <br>
                                    <button id="btn">Buy now</button>
                                </div>
                            </div>
                        </td> -->

                    </tr>


                </table>
            </section>
           
        </div>



    </div>
    <div>
        <h4>Popular Jewellery</h4> <br>
        <hr>
        Necklaces | Necklace Set | Diamond Necklaces | Diamond Necklace Set | Gold Necklace Set | Choker
        Necklaces | Gold Necklaces | Bangles | Jewellery | Bracelets | Mangalsutra Bracelets | Earrings |
        Jhumkas | Gold Jewellery | Diamond Jewellery | Rings | Engagement Rings | Couple Rings | Chain |
        Pendants | Nose Pins | Men's Jewellery | Kids Jewellery | Mangalsutra | Women's Jewellery | Pendants |
        Pendant With Chain | Diamond Pendant Set | Diamond Pendants | Diamond Pendant With Chain | Gold Pendant
        Set | Gold Pendants | Gold Pendant With Chain | Platinum Pendants | Religious Pendants | Alphabet
        Pendants | Thali Pendants | Mangalsutra Pendants | Pendant Necklaces | Silver Pendants | Mia Pendant |
        Mia Pendant With Chain
    </div>
</body>

</html>