.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width:100%;
    margin: auto;
    height: auto;
  }
#alllabel:hover{
   width: 120px;
   color: rgb(242, 14, 44);
   /* background-color: rgb(93, 93, 176); */
   border-radius: 3px;
  
}
#sub_menu{
   display: none;
}
.image1{
   width: 5px;
   height: 5px;
}
.images{
   width:200px;
   height: 200px;

}
/* .containerdiv{
   color:rgb(242, 14, 44);
} */


/* #btn:hover {
   background-color: rgb(5, 5, 69);
   color: aliceblue;

} */