
#alllabel:hover{
   width: 120px;
   color: rgb(242, 14, 44);
   /* background-color: rgb(93, 93, 176); */
   border-radius: 3px;
  
}
#sub_menu{
   display: none;
}
.image1{
   width: 5px;
   height: 5px;
}
.images{
   width:200px;
   height: 200px;

}
